<div class="w-full h-full flex flex-col">
  <h2 class="text-3xl text-center py-6"> Editing Patient </h2>
  <div class="w-3/4 h-full bg-gray-200 mx-auto flex flex-col p-4">
    <div class="w-full min-h-10 flex justify-end">
      <a class="text-xl px-6 py-1 border-2 border-black" href="<%= patient_path @patient %>">Back</a>
    </div>
    <%= render 'form', patient: @patient %>
  </div>
</div>
