<div class="h-full w-full">
  <h1 class="text-3xl text-center my-6">Patients</h1>
  <div class="w-full flex mb-2">
    <h2 class="w-1/5">Date From (MM/DD/YYYY)</h2>
    <h2 class="w-1/5">Date To (MM/DD/YYYY)</h2>
    <h2 class="w-1/5">By Test Results</h2>
  </div>
  <form class="w-full min-h-10 border-2 border-black flex mb-4" action="/search">
    <input class="w-1/5 border-r-2 border-black" type="text" name="date_from" value="<%= @date_from %>"/>
    <input class="w-1/5 border-r-2 border-black" type="text" name="date_to" value="<%= @date_to %>"/>
    <select class="w-1/5 bg-white" name="result">
      <%= options_for_select(["Positive", "Negative"], params[:result])%>
    </select>
    <button type="submit" class="border-l-2 border-blue-500 w-2/5">Search</button>
  </form>
  <div class="w-2/5 flex justify-between px-4">
    <h3 class="1/3"> Patient Name </h3>
    <h3 class="1/3"> Test Date </h3>
    <h3 class="1/3"> Results </h3>
  </div>
  <% if @results %>
    <% @results.each do |patient| %>
      <%= render 'patient_card', :patient => patient %>
    <% end %>
  <% end %>
</div>
