<div class="top-of-page-area flex items-end justify-end">
  <div class="text-2xl mb-4">
    <% unless current_user %>
      <a href="<%= new_user_session_path %>"> Log In </a>
    <% else %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, :class => "bg-transparent cursor-pointer" %>
    <% end %>
  </div>
</div>
